<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dldhk97.kumohcafeteriaviewer">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- 인터넷 연결을 위함 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>   <!-- 진동 -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/> <!-- 화면 꺼져있을 때 깨울수 있음 -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name=".KCVWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.dldhk97.kumohcafeteriaviewer.KCVWidget.CLICK" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/k_c_v_widget_info" />
        </receiver>
        <receiver android:name=".receiver.BroadcastReceiver"></receiver>

        <activity android:name=".KCVWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.home.PopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" /> <!-- 홈 팝업 액티비티를 위함 -->
        <activity
            android:name=".ui.favorite.PopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" /> <!-- 찜 팝업 액티비티를 위함 -->
        <activity
            android:name=".ui.notification.PopupActivity"
            android:theme="@android:style/Theme.Holo.Light.Dialog" /> <!-- 알림 팝업 액티비티를 위함 -->
    </application>

</manifest>